  <% if book.favorited_by?(current_user) %>
  <p>
    <%=link_to "♥" + book.favorites.count.to_s, book_favorites_path(book.id), method: :delete, remote: true %>
  </p>
  <% else %>
  <p>
    <%=link_to "♡" + book.favorites.count.to_s, book_favorites_path(book.id), method: :post, remote: true %>
  </p>
  <% end %>
